.details_container {
  max-width: 640px;
}

.image_container {
  height: 23rem;
}

.home-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to top, transparent, white);
  border-radius: 50% / 0 0 10% 10%;
}

.home-image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  padding-bottom: 100%;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 23rem;
  background-color: rgba(15, 23, 36, 0.85);
  border-radius: 50% / 0 0 10% 10%;
}

.details_container {
  max-width: 640px;
}
