.template-wrapper {
  transform: translate(0px);
  transition: all 0.5s ease 0s;
}
.template-img {
  height: 450px;
  transform: translate(0px);
  transition: transform 0.5s ease;
}

.transition {
  transform: translate(-100%);
}
